<!-- Button -->

<button class="hdhgh" style="padding-right: 1000px; padding-bottom: 17px;">
    <span (click)="gotoproject()"><b>Projects</b></span>
    <span style="padding-left: 20px;" (click)="gotoreport()"><b>Reports</b></span>
</button>

<button
    mat-icon-button
    [matTooltip]="tooltip || 'Toggle Fullscreen'"
    (click)="toggleFullscreen()">
    <ng-container [ngTemplateOutlet]="iconTpl || defaultIconTpl"></ng-container>
</button>

<!-- Default icon -->
<ng-template #defaultIconTpl>
    <mat-icon [svgIcon]="'heroicons_outline:arrows-expand'"></mat-icon>
</ng-template>
